<!DOCTYPE html>
<html>
<head>
    <title>Company Lookup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Search</a></li>
            <li><a href="/stock_exchange">Exchange</a></li>
            <li><a href="/holder">Holder</a></li>
            <li><a href="/stock_index">Index</a></li>
            <li><a href="/analytics">Analytics</a></li>
        </ul>
    </nav>
    <div class="center-content">
        <h1>Company Lookup</h1>
        <form id="companyForm">
            <input type="text" id="symbol" name="symbol" placeholder="AAPL">
            <!-- <button type="submit">Lookup</button> -->
        </form>
        {% if error %}
        <p id="error">{{ error }}</p>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
