<!DOCTYPE html>
<html>
<head>
    <title>Stock Exchange</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Search</a></li>
            <li><a href="/stock_exchange">Exchange</a></li>
            <li><a href="/holder">Holder</a></li>
            <li><a href="/stock_index">Index</a></li>
            <li><a href="/analytics">Analytics</a></li>
        </ul>
    </nav>
    <div class="center-content">
        <h1>Stock Exchanges</h1>
        <div class="grid-container">
            {% for ex in data %}
            <div class="grid-item">
                <p>{{ ex.ExchangeName }}</p>
                <a href="javascript:void(0);" class="view-stocks-link" data-index-id="{{ ex.ExchangeName }}" onclick="showStocks('{{ ex.ExchangeName }}')">View Stocks</a>
                <ul class="stocks-container" id="{{ ex.ExchangeName }}-stocks-container" style="display: none;">
                    {% set stocksFound = false %}
                    {% for stock in data2 if stock.StockExchange|upper == ex.ExchangeName|upper %}
                        {% set stocksFound = true %}
                        <li style="height: 20px; width: 80px;">
                            <a href="/company_info/{{ stock.StockSymbol|upper }}">{{ stock.StockSymbol }}</a>
                        </li>
                    {% endfor %}
                    {% if not stocksFound %}
                            <p>No stocks found for this exchange.</p>
                    {% endif %}
                </ul>
            </div>
        {% endfor %}
        
        
        </div>
    
        <div id="stocks-container"></div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <script>
        function showStocks(exchangeName) {
            var stocksContainer = document.getElementById(exchangeName + '-stocks-container');
            var mainContainer = document.getElementById('stocks-container');
            
            // Clear existing content
            mainContainer.innerHTML = '';
    
            // Clone and append the stocks container to the main container
            var clonedContainer = stocksContainer.cloneNode(true);
            clonedContainer.style.display = 'block';
            mainContainer.appendChild(clonedContainer);
        }
    </script>

    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
